DATABASE_URL=postgresql://postgres.pvzxsfblhnugduyqnixd:YOUR-PASSWORD@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
MAIL_USER=beerolympicss@gmail.com
MAIL_PASS=YOUR-MAIL-PASSWORD
ORGANIZER_EMAIL=beerolympicss@gmail.com
